.bg-container {
    width: 20%;
    height: 100vh;
    padding: 12px;
}
.sub-options {
    margin-left:10px;
}

.invoice-bg-container {
    background-color: #f8f0e7;
    width:80%;
    height: auto;
    padding-bottom: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.side-invoice-container {
    display:flex;
}
.invoice-card-container {
   border-radius: 15px;
   padding-top: 4px;
   width: 62%;
   background-color: #fff;
   margin: 15px;
}
.templates-container {
    display: flex;
}
.invoice-card-container-templates {
    border-radius: 15px;
    padding-top: 4px;
    width: 200px;
    background-color: #fff;
    margin: 15px;
}
.input-notes {
    height: 30px;
    width: 200px;
    border-radius: 5px;
    margin: 5px;
    border: 1px solid #000;
}
.sub-container {
    display: flex;
    justify-content: space-between;
}
.sub {
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.fee {
    height: 25px;
    border-radius: 5px;
    border: 1px solid #000;
    width: 120px;
    margin: 5px;
    text-align: center;
    color: #848484;
}
.total-sub {
    display: flex;
    justify-content: space-around;
    width: 20%;
}
.total-sub-parent {
    display: flex;
    justify-content: end;
}
.sub-label {
    margin-top: 9px;
    font-size: 10px;
    font-weight: 500;
    color: #8f8f8f;
}
.sub-2 {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0px;
}
.first-container-input {
    display: flex;
    align-items: center;
    justify-content: center;
}
.invoice-card-container-2 {
    border-radius: 15px;
    padding: 5px;
    width: 38%;
    background-color: #fff;
    margin: 15px;
 }
.top-section {
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.input-container {
    background-color: rgb(232, 235, 235);
    border-radius: 5px;
    height: 35px;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: 10px;
    align-items: center;

}
.date-container {
    background-color: rgb(232, 235, 235);
    border-radius: 5px;
    height: 35px;
    display: flex;
    justify-content: space-evenly;
    width: 28%;
    margin: 10px;
    align-items: center;

}
.cards-container {
    display: flex;
}
.icon-v {
    margin-left: 4px;
}
.date-text {
    font-size: 12px;
    margin-left: 3px;
    font-family: Arial, Helvetica, sans-serif;
}
.select-text {
    margin-right: 6px;
}
.input-text {
    border:0px;
    outline:none;
    background-color: transparent;
}
.icon-container {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 20%;
   
}
.preview-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon {
    margin-top: 8px;
    margin-left: 5px;
}
.invoice-card {
    height: 90vh;
    border: 1px solid #aeaeae;
    border-radius: 5px;
    margin: 10px;
}
.invoice-card-2 {
    border: 1px solid #aeaeae;
    border-radius: 5px;
    width: 300px;
    height: 230px;
    margin: 10px;
}
.invoice-card-2-md {
    border: 1px solid #aeaeae;
    border-radius: 5px;
    width: 300px;
    height: 230px;
    margin: 10px;
}
.create-button {
    background-color: black;
    height: 35px;
    width: 130px;
    border-radius: 18px;
    font-size: 10px;
    color: #fff;
    border: 0px;
    margin: 20px;
}
.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.create-button {
    margin: 5px;
}
/* .input-notes{
    width: 150px;
} */

.sub {
   width: 28%; 
}
.total-sub {
    width: 25%;
}
.summery-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.summery-hr-line {
    width: 75%;
    border: 1px solid #aeaeae;
    margin: 0px;
}
.summery-text {
    font-size: 12px;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 10px;
}
.summery-text-2 {
    font-size: 5px;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 10px;
}
.card-names-container {
    display: flex;
    width: 50%;
    justify-content: space-around;
}
.card-names-container-2{
    display: flex;
    width: 60%;
    justify-content: space-around;
}
.names {
    font-size: 12px;
    font-weight: 500;
}
.names-2 {
    font-size: 5px;
    font-weight: 500;
}
.preview-text {
    color: #000;
    font-weight: 500;
    margin-left: 10px;
}
.card-title{
    font-size: 11px;
    font-weight: 800;
    color: rgb(35, 34, 34);
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 0px;
    margin-left: 10px;
}
.card-title-2{
    font-size: 6px;
    font-weight: 800;
    color: rgb(35, 34, 34);
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 0px;
    margin-left: 5px;
}
.card-sub-title {
font-size: 7px;
margin-top:3px;
}
.card-sub-title-2 {
    font-size: 4px;
    margin-top:3px;
    }
.names-container {
    text-align: center;
    width: 40%;
}
.names-container-templates {
    text-align: center;
    width: 50%;
}
.title-invoice-container {
    margin: 10px;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
th {
    background-color: #000;
    color: #fff;
    padding: 12px;
    /* height: 30px; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 8px;
}
.th-2 {
    background-color: #000;
    color: #fff;
    padding: 5px;
    /* height: 30px; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5px;
}
.th-element {
    background-color: #000;
    color: #fff;
    padding: 12px;
    border-top-left-radius: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 8px;
}
.th-element-template {
    background-color: #000;
    color: #fff;
    border-top-left-radius: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5px;
    padding: 6px;
}
.virtual {
    background-color: #f4ede1;
    border-radius: 10px;
    height: 30px;
    padding: 5px;
    margin-right: 5px;
    
}
.th-element-2 {
    background-color: #000;
    color: #fff;
    padding: 12px;
    border-top-right-radius: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 8px; 
}
.th-element-2-template {
    background-color: #000;
    color: #fff;
    padding: 7px;
    border-top-right-radius: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5px; 
}

td {
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    padding: 5px;
}
.template-td {
font-size: 4px;
font-weight: 500;
padding: 3px;
line-height: 0.15cm;
text-align: center;
}
.last {
    border-top-right-radius: 10px;
}
.first {
    border-top-left-radius: 10px;
}
.last-data {
    border-bottom-left-radius: 10px;
}
.last-data-2 {
    border-bottom-right-radius: 10px;
}
.table-container {
    border-radius: 5px;
    border: 1px solid #000 ;
    width: 90%;
    margin: 10px;
  }
  .table-container-2 {
    border-radius: 5px;
    border: 1px solid #000 ;
    height: 60px;
    margin: 5px;

  }
.header-tr {
    background-color: #151515;
    border: 1px solid #000;
    height: 28px;
}
.table-text {
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.first-table-row {
    border-bottom: 1px solid #aeaeae;
    background-color: #f0f2f2e4;
}
.first-table-data {
    padding: 15px;
}
.first-table-header {
    background-color: #fff;
    color: #aeaeae;
    font-size: 12px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.first-table-container {
    border-radius: 10px;
    margin: 10px;
    border: 1px solid #aeaeae;
}
.persons-list {
    height: 30px;
    border-radius: 8px;
    width: 285px;
    margin: 4px;
}
.number {
    height: 28px;
    border-radius: 8px;
    border: 1px solid #aeaeae;
    width: 245px;
    margin: 4px;
}
.first-treatment-card {
    background-color: #edecec;
    padding: 5px;
    width: 94%;
    border: 1px solid #aeaeae;
    border-radius: 5px;
    margin: 11px;
}
.second-card-buts {
    background-color: #fff;
    border: 0px;
    border-radius: 3px;
    padding-right: 30px;
    font-weight: 500;
    font-size: 11px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
}
.card-1-inner {
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.card-1-inner-2 {
    display: flex;
    justify-content: space-around;
    width: 105%;
}
.treatment {
    color: #aeaeae;
    font-size: 13px;
}
.add-but {
    background-color: #000;
    height: 30px;
    border: 0px;
    width: 120px;
    color: #fff;
    border-radius: 8px;
    margin: 4px;
}
.remove-but {
    background-color: transparent;
    height: 30px;
    border: 1px solid #f78181;
    width: 120px;
    margin: 4px;
    color: #ee7c7c;
    border-radius: 8px;
}
.buts-con {
    display: flex;
    align-items: center;
    justify-content: end;
}
.anti-wrinkle {
    font-size: 12px;
    font-weight: 600;
    color: #000;
}
.first-hr {
    margin: 0px;
    width: 99%;
}
.label {
    font-size: 10px;
    font-weight: 500;
    color: #8f8f8f;
    margin: 4px;
}

.create-line {
    margin-bottom: 0px;
    border: 1.2px solid #171616;
    margin-top: 0px;
}
.create-line-1 {
    margin-bottom: 0px;
    border: 1.5px solid #171616;
    margin-top: 0px;
}
.create {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
}
.inprogress {
    background-color: rgb(250, 172, 46);
    border-radius: 10px;
    height: 20px;
    border: 0px;
    width: 80px;
    font-size: 10px;
    color: #fff;
}
.complete {
    background-color: rgb(123, 245, 116);
    border-radius: 10px;
    height: 20px;
    border: 0px;
    width: 80px;
    font-size: 10px;
    color: #fff;
}
.cancle {
    background-color: rgb(249, 244, 236);
    border-radius: 10px;
    height: 20px;
    border: 0px;
    width: 80px;
    font-size: 10px;
    color: #0e0e0e;  
}
.sub-total {
    font-size: 12px;
    font-weight: 500;
    margin-right: 10px;
}
.sub-total-2 {
    font-size: 5px;
    font-weight: 500;
    margin-right: 6px;
}
.tax-text {
    color: #aeaeae;
    font-size: 12px;
}
.tax-text-2 {
    color: #aeaeae;
    font-size: 5px;
    margin-right: 5px;
}
.sub-template {
    display: flex;
    justify-content: space-around;
    margin: 0px;
    line-height: 0.01cm;
    width: 45%;
}
.sub-template-parent {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}
.notes {
    background-color: #e6e4e4;
    height: 45px;
    margin: 10px;
    padding: 2px;
}
.notes-2{
    background-color: #e6e4e4;
    margin: 3px;
    padding: 0.1px;
}
.notes-text {
    font-size: 10px;
    margin: 5px;
}
.notes-text-2 {
    font-size: 5px;
    margin: 5px;
}
.notes-heading {
    font-weight: 600;
}
.save-buts-con {
    display: flex;
    padding-top: 100px;
    align-items: center;
    justify-content: center;
}
.save {
background-color: transparent;
color: #000;
border: 1px solid #000;
}
@media screen and (max-width: 780px) {
   .cards-container{
    display: flex;
    flex-direction: column;
   }
   .invoice-card-container{
    width: 90%;
    background-color: transparent;
   }
   .invoice-card-2-md {
    display: none;
   }
   .invoice-card-container-2 {
    width: 90%;
   }
   .bg-container{
    display: none;
   }
   .invoice-bg-container {
    width: 100%;
   }
   .save-buts-con {
    display: flex;
    flex-direction: column;
   }
   .invoice-card {
    height: 70vh;
   }
   .time {
    display: none;
   }
   .invoice-bg-container{
    height: 200vh;
   }
   .date {
    display: none;
   }
   .title {
    line-height: 2rem;
   }
   .header-container {
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
   }
   .sub-title {
    margin-top: 2px;
    font-size: 8px;
   }
  }
  .invoice-heading {
    color: #908e8e;
  }
  @media screen and (max-width: 576px) {
   .first-table-data {
    padding: 5px;
   }
   .title {
    font-size: 10px;
    line-height: 2rem;
   }
   .fee {
    width: 90px;
}
   .sub-title {
    font-size: 10px;
    margin-top: 3px;
   }
   .card-1-inner{
    width: 90%;
   }
   .input-container {
    width: 60%;
    height: 25px;
   }
   .date-container {
    height: 25px;
    width: 50%;
   }
   .date-text {
    font-size: 9px;
   }
   .second-card-buts{
    padding-right: 10px;
   }
   .number{
    width: 140px;
   }
   .card-1-inner-2{
    width: 100%;
   }
   .add-but {
    width: 90px;
    height: 25px;
   }
   .remove-but {
    width: 90px;
    height: 25px;
   }
   .persons-list{
    width: 160px;
   }
   .icon-container {
    width: 20%;
   }
   .top-section{
    width: 80%;
   }
   .icon {
    margin-top: 2px;
   }
   .cards-container{
    width: 100%;
   }
  }

  @media screen  and (min-width : 780px){
    .menu {
        display: none;
    }
    
  }